<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <meta charset="utf-8">
    <title>{{ page.title }} | CU Boulder Web Style Guide | University of Colorado Boulder</title>
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/elements/grid.css">
    <link rel="stylesheet" href="css/ucb-styles.css">
    <link rel="stylesheet" href="css/homepage.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed:700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/v4-shims.css">
    <!-- {{ site.url }} -->
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>




  </head>
  <body class="headings-bold background-color-black">
    <div class="page">
      {{ content }}
    </div>
  </body>
   <script src="js/scripts.js"></script>
</html>
<!-- ### -->
<!-- Build Time {{ site.time }} -->
